name: test

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  test:
    name: test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby: [ '3.1.2', '3.1.4', '3.2.2', '3.2.3', '3.3.0' ]

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - uses: ruby/setup-ruby@70da3bbf44ac06db1b0547ce2acc9380a5270d1e # pin@v1.175.0
        with:
          bundler-cache: true
          ruby-version: ${{ matrix.ruby }}

      - name: bootstrap
        run: script/bootstrap

      - name: test
        run: script/test -d -k
